<ion-view view-title="Map">
  <ion-content scroll="false">
	<div id="map">
	</div>
	<div class="bar bar-footer bar-stable">
		<button class="button button-stable button-icon icon ion-android-pin button-full" ng-click="findMe()">  </button>
	</div>	
  </ion-content>
 
   <!--
	<div class="bar bar-footer footer-button">
		<button class="button button-outline button-positive button-full button-icon icon ion-chevron-right"></button>
</button>
	
	<div class="bar bar-footer">
	  
	   <div class="button button-outline button-positive button-icon icon ion-android-pin button-full" ng-click="findMe()"> </div>
	</div>
	-->
	
</ion-view>

 